{% extends "base.html" %}

{% block title %}
Challenges - {{ super() }}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Lingó Hack 2020</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/challenges">Challenges</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sponsors_partners">Sponsors & Partners</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/schedule">Event Schedule</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/faq">FAQ</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}


{% block content %}
<!-- app/templates/layouts/challenges.html -->
{% endblock %}

{% block scripts %}
{% endblock %}