{% extends "base.html" %}

{% block title %}
Challenges - {{ super() }}
{% endblock %}


{% block content %}
<!-- app/templates/layouts/challenges.html -->
<div class="container">
    <div class="row align-items-center sponsors light_bckgr p-3">
        <div class="col-12 text-center mb-3">
            <h2>Interested in placing a challenge?</h2>
            We’d love to have you on board. Contact us at <a target="_blank" href="mailto:lingohack@ru.is">
                lingohack@ru.is</a>
        </div>

        <div class="col-12 text-center">
            <h2>Here are the main chalanges:</h2>
        </div>
        <div class="col-12 text-center">
            <h3>More challenges will be posted later</h3>
        </div>
        <div class="col-sm-6 col-lg-4 sponsor_modal">
            <div class="card" style="width: 100%;">
                <img class="card-img-top"
                    src="https://pbs.twimg.com/profile_images/1026924739640492032/8E6ctQmc_400x400.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h4>Best Use of Google Cloud</h4>
                    <h5>Price: Google Home Mini's</h5>
                    <hr />
                    <p class="card-text">
                        Build your hackathon project with a suite of secure storage, powerful compute, and integrated
                        data analytics products provided by Google Cloud. Use any Google Cloud product or service in
                        your hack and each winning team member will receive a Google Home Mini.
                        <a href="">Redeem your $100 in Google Cloud credit here</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}