{% extends "base.html" %}

{% block title %}
{{ super() }}
{% endblock %}

{% block content %}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
  <div class="container ">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">Lingó Hack 2020</a>
    <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded"
      type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#challenges">Áskoranir</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#sponsors_partners">Samstarfsaðilar</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#schedule">Dagskrá</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#faq">FAQ</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Hafa Samband</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1 border rounded-lg">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="https://forms.gle/RxFfVRXqVaMFE7np6">
            <i class="fas fa-pencil-alt mr-2"></i> Skrá mig
          </a>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/eng">
            <img src="{{ url_for('static', filename='img/iconfinder_United-Kingdom_92403.png') }}" alt="flag_isl"
              height="32">
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Header -->
<header class="masthead bg-primary text-white text-center">
  <div class="container d-flex  align-items-center flex-column">

    <!-- Masthead Avatar Image -->
    <img class="mb-5 img-fluid" src="{{ url_for('static', filename='img/hr_logo_white_letters.svg') }}" alt="logo">

    <!-- Masthead Heading -->
    <h1 class="masthead-heading text-uppercase mb-0">Lingó Hack 2020</h1>

    <!-- Icon Divider -->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-star"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>

    <!-- Masthead Subheading -->
    <p class="masthead-subheading font-weight-light mb-0">25.- 26. Apríl 2020</p>

    <!-- COUNT DOWN -->
    <div class="masthead-subheading mb-0" id="clock"></div>

    <!-- Sign Up Button -->
    <div class="text-center mt-4">
      <a class="btn btn-xl btn-outline-light" href="https://forms.gle/RxFfVRXqVaMFE7np6/">
        <i class="fas fa-pencil-alt mr-2"></i>
        Skrá mig núna
      </a>
    </div>

  </div>
</header>

<!-- Challenges Section -->
<section class="page-section portfolio" id="challenges">
  <div class="container">

    <!-- Challenges Section Heading -->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Áskoranir</h2>

    <!-- Icon Divider -->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-star"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>

    <h4 class="text-center text-uppercase ">Listi verður birtur síðar.</h4>
    <!-- Challenges Grid Items -->
    <div class="row">
    </div>

  </div>
</section>

<!-- Sponsors And Partners Section -->
<section class="page-section bg-primary text-white mb-0" id="sponsors_partners">
  <div class="container">

    <!-- Sponsors And Partners Section Heading -->
    <h2 class="page-section-heading text-center text-uppercase text-white">Samstarfsaðilar</h2>

    <!-- Icon Divider -->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-star"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>

    <h4 class="text-center text-uppercase text-white">Listi verður birtur síðar.</h4>


    <!-- About Section Content -->
    <div class="row">
    </div>


  </div>
</section>

<!-- Schedule Section -->
<section class="page-section text-white mb-0" id="schedule">
  <div class="container">
    <!-- Schedule Section Heading -->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Dagskrá</h2>

    <!-- Icon Divider -->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-star"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-2 ml-auto">
      <table class="table table-borderless table-responsize tealTime">
        <tbody>
          <tr>
            <th></th>
            <th>
              <h4>Laugardagurinn 25. April</h4>
            </th>
          </tr>
          <tr>
            <td>
              <p>08:00</p>
            </td>
            <td>
              <p>Skráning</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>09:45</p>
            </td>
            <td>
              <p>Opnunarviðburður</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>11:30</p>
            </td>
            <td>
              <p> Lið mynduð, People Bingo</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>12:00</p>
            </td>
            <td>
              <p>Hakkaþonið hefst</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>12:30</p>
            </td>
            <td>
              <p>Hádegismatur</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>15:00</p>
            </td>
            <td>
              <p>Vinnustofa 1</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>18:30</p>
            </td>
            <td>
              <p>Kvöldmatur</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>21:00</p>
            </td>
            <td>
              <p>Mini-Event</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-2 mr-auto">
      <table class="table table-borderless table-responsize blueTime">
        <tbody>
          <tr>
            <th>
            </th>
            <th>
              <h4>Sunnudagurinn 26. April</h4>
            </th>
          </tr>
          <tr>
            <td>
              <p>00:00</p>
            </td>
            <td>
              <p> Miðnætis Pizza</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>8:00</p>
            </td>
            <td>
              <p>Morgunmatur</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>9:00</p>
            </td>
            <td>
              <p>Vinnustofa 2</p>
            </td>
          </tr>
          </tr>
          <tr>
            <td>
              <p>11:00</p>
            </td>
            <td>
              <p>Þjálfun fyrir dómara</p>
            </td>
          </tr>
          </tr>
          <tr>
            <td>
              <p>11:45</p>
            </td>
            <td>
              <p>Skilað inn, Hakkaþonið búið</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>12:00</p>
            </td>
            <td>
              <p>Hádegismatur</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>13:00</p>
            </td>
            <td>
              <p>Dómgæsla hefst</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>14:30</p>
            </td>
            <td>
              <p>Verðlaunaafhending og lokaorð</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>



</section>

<!-- FAQ Section -->
<section class="page-section bg-primary text-white mb-0" id="faq">
  <div class="container">
    <!-- FAQ Section Heading -->
    <h2 class="page-section-heading text-center text-uppercase text-white">FAQ</h2>

    <!-- Icon Divider -->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-star"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>
    <div id="accordion" class="text-center">
      <div class="card">
        <div class="card-header" id="heading0">
          <h5 class="mb-0">
            <button class="btn btn-link text-wrap collapsed" data-toggle="collapse" data-target="#collapse0"
              aria-expanded="false" aria-controls="collapse0">
              Hvað er Lingó Hack 2020?
            </button>
          </h5>
        </div>
        <div id="collapse0" class="collapse" aria-labelledby="heading0" data-parent="#accordion">
          <div class="card-body">
            Lingó Hack 2020 er hakkaþon (nýsköpunarkeppni) við Háskólann í Reykjavík, þar sem nemendur koma saman til
            þess að læra, skapa,
            og vinna saman við að útbúa lausn frá grunni innan 24 tíma. Þemi hakkaþonsins verður máltækni þar sem
            áskoranir
            verða settar fram af samstarfsaðilum. Við munum veita þér
            alla hjálp sem þú þarft tengt vélbúnað og hugbúnað. Styrktaraðilar og
            sjálfboðaliðar geta síðan hjálpað þér með allar spurningar sem þú gætir haft.
            Með nokkrum orðum, þú kemur hingað til að skemmta þér, fá fræðslu um hluti sem þú vissir ekki einu sinni að
            væru til og að sjá hugmyndina þína lifna við. Við hvetjum alla háskólanema til þess að taka þátt.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading2">
          <h5 class="mb-0">
            <button class="btn btn-link text-wrap collapsed" data-toggle="collapse" data-target="#collapse2"
              aria-expanded="false" aria-controls="collapse2">
              Get ég tekið þátt í Lingó Hack 2020?
            </button>
          </h5>
        </div>
        <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
          <div class="card-body">
            Allir háskólanemar, óháð skóla, námssvið, og reynslu eru velkomnir til þess að koma og taka þátt.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading3">
          <h5 class="mb-0">
            <button class="btn btn-link text-wrap collapsed" data-toggle="collapse" data-target="#collapse3"
              aria-expanded="false" aria-controls="collapse3">
              Þarf ég að vera kominn með hóp?
            </button>
          </h5>
        </div>
        <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
          <div class="card-body">
            Nei - við munum hafa tíma fyrir nemendur til þess að hópa sig saman.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading4">
          <h5 class="mb-0">
            <button class="btn btn-link text-wrap collapsed" data-toggle="collapse" data-target="#collapse4"
              aria-expanded="false" aria-controls="#collapse4">
              Ég er nú þegar búinn að skŕa mig, en hvernig get ég lagað umsóknina mína?
            </button>
          </h5>
        </div>
        <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
          <div class="card-body">
            Hafðu samband hér fyrir neðan og við verðum í sambandi við þig sem fyrst.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading5">
          <h5 class="mb-0">
            <button class="btn btn-link text-wrap collapsed" data-toggle="collapse" data-target="#collapse5"
              aria-expanded="false" aria-controls="collapse5">
              Kostar að taka þátt?
            </button>
          </h5>
        </div>
        <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordion">
          <div class="card-body">
            Nei - það kostar ekkert að taka þátt í Lingó Hack 2020.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading6">
          <h5 class="mb-0">
            <button class="btn btn-link text-wrap collapsed" data-toggle="collapse" data-target="#collapse6"
              aria-expanded="false" aria-controls="collapse6">
              Hvað þarf ég að koma með mér?
            </button>
          </h5>
        </div>
        <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordion">
          <div class="card-body">
            Þú þarft að koma með þína eigin fartölvu (og hleðslutæki), og einnig svefnpoka ef þú villt geta lagt þig í
            svefnrýminu okkar.
            Við munum útvega mat, drykki, og aðra tæknilega aðstoð.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading9">
          <h5 class="mb-0">
            <button class="btn btn-link text-wrap collapsed" data-toggle="collapse" data-target="#collapse9"
              aria-expanded="false" aria-controls="collapse9">
              Hvað geta verið margir í hóp?
            </button>
          </h5>
        </div>
        <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordion">
          <div class="card-body">
            Þá má vera að hámarki 4 saman í hóp.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading10">
          <h5 class="mb-0">
            <button class="btn btn-link text-wrap collapsed" data-toggle="collapse" data-target="#collapse10"
              aria-expanded="false" aria-controls="collapse10">
              Get ég byrjað að vinna að verkefninu áður en hakkaþonið byrjar?
            </button>
          </h5>
        </div>
        <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#accordion">
          <div class="card-body">
            Nei - því við viljum að viðburðurinn verði sem sanngjarnast. Það munu allir byrja á sama tíma, og verkefnin
            verða að vera búin til innan 24 tíma.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading11">
          <h5 class="mb-0">
            <button class="btn btn-link text-wrap collapsed" data-toggle="collapse" data-target="#collapse11"
              aria-expanded="false" aria-controls="collapse11">
              Get ég tekið þátt sem sjálfboðaliði á viðburðinum?
            </button>
          </h5>
        </div>
        <div id="collapse11" class="collapse" aria-labelledby="heading11" data-parent="#accordion">
          <div class="card-body">
            Já - við velkomum alla sem hafa áhuga að taka þátt sem sjálfboðaliði. Við munum þurfa sem flestar hendur.
            Við munum senda út tölvupóst seinna til þess að auglýsa það nánar, en þér er velkomið að hafa samband við
            okkur
            hér fyrir neðan ef þú ert mjög áhugasamur.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading12">
          <h5 class="mb-0">
            <button class="btn btn-link text-wrap collapsed" data-toggle="collapse" data-target="#collapse12"
              aria-expanded="false" aria-controls="collapse12">
              Hvenær lýkur skráningu?
            </button>
          </h5>
        </div>
        <div id="collapse12" class="collapse" aria-labelledby="heading12" data-parent="#accordion">
          <div class="card-body">
            Skráningu lýkur á miðnætti þann 31. mars.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Contact Us Section -->
<section class="page-section mb-0" id="contact">
  <div class="container">

    <!-- Contact Us Section Heading -->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Hafa Samband</h2>

    <!-- Icon Divider -->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-star"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>

    <!-- Question -->
    <div class="row">
      <div class="col-12 text-center">
        <h2>Hefurðu áhuga á að styrkja, koma með áskorun, verða sjálfboðaliði eða taka þátt?</h2>
      </div>
    </div>



    <!-- Contact Us Section Form -->
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <!-- Name -->
        <div class="control-group">
          <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <input class="form-control" id="input_name" type="text" placeholder="Nafn" required="required"
              data-validation-required-message="Please enter your name." value="">
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <!-- Email Address -->
        <div class="control-group">
          <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <input class="form-control" id="input_email" type="email" placeholder="Tölvupóstfang" required="required"
              data-validation-required-message="Please enter your email address." value="">
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <!-- Phone Number -->
        <div class="control-group">
          <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <input class="form-control" id="input_phone" type="tel" placeholder="Símanúmer" required="required"
              data-validation-required-message="Please enter your phone number." value="">
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <!-- Subject -->
        <div class="control-group">
          <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <input class="form-control" id="input_subject" type="email" placeholder="Viðfangsefni" required="required"
              data-validation-required-message="Please enter a subject." value="">
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <!-- Message -->
        <div class="control-group">
          <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <textarea class="form-control" id="input_message" rows="5" placeholder="Skilaboð" required="required"
              data-validation-required-message="Please enter a message."></textarea>
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <br>
        <div id="success"></div>
        <div class="form-group">
          <button type="" class="btn btn-xl btn-primary" id="send_button">Senda</button>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- Footer -->
<footer class="footer text-center">
  <div class="container">
    <div class="row">

      <!-- Footer Location -->
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Staðsetning</h4>
        <p class="lead mb-0">Háskólinn í Reykjavík
          <br>Menntavegur 1, 102 Reykjavík</p>
      </div>

      <!-- Footer Social Icons -->
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Fylstu með</h4>
        <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/events/595260667911210/">
          <i class="fab fa-fw fa-facebook-f"></i>
        </a>
        <a class="btn btn-outline-light btn-social mx-1" href="https://www.instagram.com/explore/tags/lingohack2020/">
          <i class="fab fa-fw fa-instagram"></i>
        </a>
      </div>

      <!-- Footer About Text -->
      <div class="col-lg-4">
        <h4 class="text-uppercase mb-4">Skipulagt af</h4>
        <p class="lead mb-0">Nemendafélag Hakkaþona við</p>
        <p class="lead mb-0">Háskólann í Reykjavík</p>
      </div>

    </div>
  </div>
</footer>

<!-- Copyright Section -->
<section class="copyright py-4 text-center text-white">
  <div class="container">
    <!-- <p><a target="_blank" href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">
        MLH Code of Conduct</a></p> -->
    <small>Copyright &copy; Lingó Hack 2020</small>
  </div>
</section>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-to-top d-lg-none position-fixed ">
  <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>
{% endblock %}

{% block scripts %}
<script src="//cdn.rawgit.com/hilios/jQuery.countdown/2.2.0/dist/jquery.countdown.min.js"></script>
<script src="{{ url_for('static', filename='js/mail.js')}}"></script>
<script src="{{ url_for('static', filename='js/countdown.js')}}"></script>

<script type="text/javascript">
  $(document).ready(function () {
    clock.countdown('resume');
    document.getElementById("send_button").addEventListener("click", sendEmail, false);
  });
</script>
{% endblock %}