{% extends "base.html" %}

{% block title %}
{{ super() }}
{% endblock %}

{% block content %}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
  <div class="container ">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">Lingó Hack 2020</a>
    <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded"
      type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#challenges">Challenges</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#sponsors_partners">Sponsors &
            Partners</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#schedule">Schedule</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#faq">FAQ</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contact Us</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1 border rounded-lg">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="https://forms.gle/RxFfVRXqVaMFE7np6">
            <i class="fas fa-pencil-alt mr-2"></i> Sign Up
          </a>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/isl">
            <img src="{{ url_for('static', filename='img/iconfinder_Iceland_92129.png') }}" alt="flag_isl" height="32">
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Header -->
<header class="masthead bg-primary text-white text-center">
  <div class="container d-flex  align-items-center flex-column">

    <!-- Masthead Avatar Image -->
    <img class="mb-5 img-fluid" src="{{ url_for('static', filename='img/hr_logo_white_letters.svg') }}" alt="logo">

    <!-- Masthead Heading -->
    <h1 class="masthead-heading text-uppercase mb-0">Lingó Hack 2020</h1>

    <!-- Icon Divider -->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-star"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>

    <!-- Masthead Subheading -->
    <p class="masthead-subheading font-weight-light mb-0">April 25<sup>th</sup>-26<sup>th</sup> 2020</p>

    <!-- COUNT DOWN -->
    <div class="masthead-subheading mb-0" id="clock"></div>

    <!-- Sign Up Button -->
    <div class="text-center mt-4">
      <a class="btn btn-xl btn-outline-light" href="https://forms.gle/RxFfVRXqVaMFE7np6">
        <i class="fas fa-pencil-alt mr-2"></i>
        Sign Up
      </a>
    </div>

  </div>
</header>

<!-- Challenges Section -->
<section class="page-section portfolio" id="challenges">
  <div class="container">

    <!-- Challenges Section Heading -->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Challenges</h2>

    <!-- Icon Divider -->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-star"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>

    <h4 class="text-center text-uppercase ">List will be published later.</h4>
    <!-- Challenges Grid Items -->
    <div class="row">

      <!-- Challange Item 1 -->
      <!-- <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="img/portfolio/cabin.png" alt="">
          </div>
        </div> -->

      <!-- Challange Item 2 -->
      <!-- <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="img/portfolio/cake.png" alt="">
          </div>
        </div> -->

      <!-- Challange Item 3 -->
      <!-- <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="img/portfolio/circus.png" alt="">
          </div>
        </div> -->

      <!-- Challange Item 4 -->
      <!-- <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="img/portfolio/game.png" alt="">
          </div>
        </div> -->

      <!-- Challange Item 5 -->
      <!-- <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal5">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="img/portfolio/safe.png" alt="">
          </div>
        </div> -->

      <!-- Challange Item 6 -->
      <!-- <div class="col-md-6 col-lg-4">
          <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal6">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="img/portfolio/submarine.png" alt="">
          </div>
        </div> -->

    </div>
    <!-- /.row -->

  </div>
</section>

<!-- Sponsors And Partners Section -->
<section class="page-section bg-primary text-white mb-0" id="sponsors_partners">
  <div class="container">

    <!-- Sponsors And Partners Section Heading -->
    <h2 class="page-section-heading text-center text-uppercase text-white">Sponsors & Partners</h2>

    <!-- Icon Divider -->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-star"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>

    <h4 class="text-center text-uppercase text-white">List will be published later.</h4>


    <!-- About Section Content -->
    <div class="row">
      <!-- Portfolio Item 1 -->
      <!-- <div class="col-md-6 col-lg-4">
          <img class="img-fluid" src="img/portfolio/cabin.png" alt="">
        </div>
        <div class="col-md-6 col-lg-4">
          <img class="img-fluid" src="img/portfolio/cabin.png" alt="">
        </div>
        <div class="col-md-6 col-lg-4">
          <img class="img-fluid" src="img/portfolio/cabin.png" alt="">
        </div> -->
    </div>


  </div>
</section>

<!-- Schedule Section -->
<section class="page-section text-white mb-0" id="schedule">
  <div class="container">
    <!-- Schedule Section Heading -->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Schedule</h2>

    <!-- Icon Divider -->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-star"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-2 ml-auto">
      <table class="table table-borderless table-responsize tealTime">
        <tbody>
          <tr>
            <th></th>
            <th>
              <h4>Saturday, April 25<sup>th</sup></h4>
            </th>
          </tr>
          <tr>
            <td>
              <p> 08:00 AM</p>
            </td>
            <td>
              <p> Check in</p>
            </td>
          </tr>
          <tr>
            <td>
              <p> 09:45 AM</p>
            </td>
            <td>
              <p> Opening Ceremony</p>
            </td>
          </tr>
          <tr>
            <td>
              <p> 11:30 AM</p>
            </td>
            <td>
              <p> Team Formation, People Bingo</p>
            </td>
          </tr>
          <tr>
            <td>
              <p> 12:00 PM</p>
            </td>
            <td>
              <p> Hacking Starts</p>
            </td>
          </tr>
          <tr>
            <td>
              <p> 12:30 PM</p>
            </td>
            <td>
              <p> Lunch</p>
            </td>
          </tr>
          <tr>
            <td>
              <p> 15:00 PM</p>
            </td>
            <td>
              <p> Workshop 1</p>
            </td>
          </tr>
          <tr>
            <td>
              <p> 18:30 PM</p>
            </td>
            <td>
              <p> Dinner</p>
            </td>
          </tr>
          <tr>
            <td>
              <p> 21:00 PM</p>
            </td>
            <td>
              <p>Mini-Event</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-2 mr-auto">
      <table class="table table-borderless table-responsize blueTime">
        <tbody>
          <tr>
            <th>
            </th>
            <th>
              <h4>Sunday, April 26<sup>th</sup></h4>
            </th>
          </tr>
          <tr>
            <td>
              <p> 12:00 AM</p>
            </td>
            <td>
              <p> Midnight Pizza</p>
            </td>
          </tr>
          <tr>
            <td>
              <p> 8:00 AM</p>
            </td>
            <td>
              <p> Breakfast</p>
            </td>
          </tr>
          <tr>
            <td>
              <p> 9:00 AM</p>
            </td>
            <td>
              <p> Workshop 2</p>
            </td>
          </tr>
          </tr>
          <tr>
            <td>
              <p> 11:00 AM</p>
            </td>
            <td>
              <p> Judge Training</p>
            </td>
          </tr>
          </tr>
          <tr>
            <td>
              <p> 11:45 AM</p>
            </td>
            <td>
              <p> Submissions Due/HACKING ENDS</p>
            </td>
          </tr>
          <tr>
            <td>
              <p> 12:00 PM</p>
            </td>
            <td>
              <p> Lunch</p>
            </td>
          </tr>
          <tr>
            <td>
              <p> 13:00 PM</p>
            </td>
            <td>
              <p> Judging Begins</p>
            </td>
          </tr>
          <tr>
            <td>
              <p> 14:30 PM</p>
            </td>
            <td>
              <p> Awards and Closing Ceremony</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>



</section>

<!-- FAQ Section -->
<section class="page-section bg-primary text-white mb-0" id="faq">
  <div class="container">
    <!-- FAQ Section Heading -->
    <h2 class="page-section-heading text-center text-uppercase text-white">FAQ</h2>

    <!-- Icon Divider -->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-star"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>
    <div id="accordion" class="text-center">
      <div class="card">
        <div class="card-header" id="heading0">
          <h5 class="mb-0">
            <button class="btn btn-link text-wrap collapsed" data-toggle="collapse" data-target="#collapse0"
              aria-expanded="false" aria-controls="collapse0">
              What is Lingó Hack 2020?
            </button>
          </h5>
        </div>
        <div id="collapse0" class="collapse" aria-labelledby="heading0" data-parent="#accordion">
          <div class="card-body">
            Lingó Hack 2020 a student hackathon at Reykjavik University, where students gather together to
            collaborate, innovate, learn, and experiment while creating a project from scratch within 24 hours.
            Language Technology will be the central theme of this hackathon. We’ll give you all the resources you
            need,
            from hardware and APIs to workshops, sponsors, and volunteers who can help you with whatever questions
            you might have. In a few words, you come here to have fun, learn about
            things you didn’t even know existed and see your ideas come to life.
            We encourage all college or university students from any faculty to participate.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading2">
          <h5 class="mb-0">
            <button class="btn btn-link text-wrap collapsed" data-toggle="collapse" data-target="#collapse2"
              aria-expanded="false" aria-controls="collapse2">
              Can I participate in Lingó Hack 2020?
            </button>
          </h5>
        </div>
        <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
          <div class="card-body">
            Students at all levels of study and age 18 and over are welcome to attend.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading3">
          <h5 class="mb-0">
            <button class="btn btn-link text-wrap collapsed" data-toggle="collapse" data-target="#collapse3"
              aria-expanded="false" aria-controls="collapse3">
              Do I need to have a team beforehand?
            </button>
          </h5>
        </div>
        <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
          <div class="card-body">
            No - we’ll have some time before the start of the hackathon to meet everyone and make teams.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading4">
          <h5 class="mb-0">
            <button class="btn btn-link text-wrap collapsed" data-toggle="collapse" data-target="#collapse4"
              aria-expanded="false" aria-controls="#collapse4">
              I already registered but I need to fix something how can I change my application?
            </button>
          </h5>
        </div>
        <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
          <div class="card-body">
            Contact us with the form here below and we'll sort it out for you.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading5">
          <h5 class="mb-0">
            <button class="btn btn-link text-wrap collapsed" data-toggle="collapse" data-target="#collapse5"
              aria-expanded="false" aria-controls="collapse5">
              Do I need to pay to participate?
            </button>
          </h5>
        </div>
        <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordion">
          <div class="card-body">
            No - Lingó Hack 2020 is completely free to attend.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading6">
          <h5 class="mb-0">
            <button class="btn btn-link text-wrap collapsed" data-toggle="collapse" data-target="#collapse6"
              aria-expanded="false" aria-controls="collapse6">
              What do I need to bring?
            </button>
          </h5>
        </div>
        <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordion">
          <div class="card-body">
            You'll need to bring your own laptop (and charger), as well as a sleeping bag if you wish to use our
            sleeping
            area during the event. We will provide food and drinks, as well as all the technical support you need.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading7">
          <h5 class="mb-0">
            <button class="btn btn-link text-wrap collapsed" data-toggle="collapse" data-target="#collapse7"
              aria-expanded="false" aria-controls="collapse7">
              How do I get to Lingó Hack?
            </button>
          </h5>
        </div>
        <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordion">
          <div class="card-body">
            Take the public bus, route 8 from BSÍ it will drive dirrectly to Reykjavik University. More information at
            <a href="https://www.straeto.is">straeto.is</a>.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading8">
          <h5 class="mb-0">
            <button class="btn btn-link text-wrap collapsed" data-toggle="collapse" data-target="#collapse8"
              aria-expanded="false" aria-controls="collapse8">
              Will I be reimbursed for the travel costs?
            </button>
          </h5>
        </div>
        <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordion">
          <div class="card-body">
            We will not offer any reimbursements for anyone's travel costs.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading9">
          <h5 class="mb-0">
            <button class="btn btn-link text-wrap collapsed" data-toggle="collapse" data-target="#collapse9"
              aria-expanded="false" aria-controls="collapse9">
              How many people can be in a team?
            </button>
          </h5>
        </div>
        <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordion">
          <div class="card-body">
            You can have up to 4 people in a team.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading10">
          <h5 class="mb-0">
            <button class="btn btn-link text-wrap collapsed" data-toggle="collapse" data-target="#collapse10"
              aria-expanded="false" aria-controls="collapse10">
              Can I start working on my project before the event?
            </button>
          </h5>
        </div>
        <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#accordion">
          <div class="card-body">
            No - because we want our event to be fair, everyone has the same starting line, so all projects have to be
            created from scratch during the 24 hours of the hackathon.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading11">
          <h5 class="mb-0">
            <button class="btn btn-link text-wrap collapsed" data-toggle="collapse" data-target="#collapse11"
              aria-expanded="false" aria-controls="collapse11">
              Can I volunteer to help out at the event?
            </button>
          </h5>
        </div>
        <div id="collapse11" class="collapse" aria-labelledby="heading11" data-parent="#accordion">
          <div class="card-body">
            Yes! Volunteers are the driving force behind the event; we couldn't run it without them. A bit closer to
            the day we'll send out a call for volunteers, but if you're especially eager you can contact the committee
            with a short application in the <a href="#contact">Contact Us</a> form below and we'll mark you down.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading12">
          <h5 class="mb-0">
            <button class="btn btn-link text-wrap collapsed" data-toggle="collapse" data-target="#collapse12"
              aria-expanded="false" aria-controls="collapse12">
              When will registrations close?
            </button>
          </h5>
        </div>
        <div id="collapse12" class="collapse" aria-labelledby="heading12" data-parent="#accordion">
          <div class="card-body">
            Registrations will close at midnight on the 31rd of March.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Contact Us Section -->
<section class="page-section mb-0" id="contact">
  <div class="container">

    <!-- Contact Us Section Heading -->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact Us</h2>

    <!-- Icon Divider -->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-star"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>

    <!-- Question -->
    <div class="row mb-3">
      <div class="col-12 text-center">
        <h2>Interested in sponso­ring, placing a challenge, or volunteer?</h2>
      </div>
    </div>


    <!-- Contact Us Section Form -->
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <!-- Name -->
        <div class="control-group">
          <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <input class="form-control" id="input_name" type="text" placeholder="Name" required="required"
              data-validation-required-message="Please enter your name." value="">
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <!-- Email Address -->
        <div class="control-group">
          <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <input class="form-control" id="input_email" type="email" placeholder="Email Address" required="required"
              data-validation-required-message="Please enter your email address." value="">
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <!-- Phone Number -->
        <div class="control-group">
          <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <input class="form-control" id="input_phone" type="tel" placeholder="Phone Number" required="required"
              data-validation-required-message="Please enter your phone number." value="">
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <!-- Subject -->
        <div class="control-group">
          <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <input class="form-control" id="input_subject" type="text" placeholder="Subject" required="required"
              data-validation-required-message="Please enter a subject." value="">
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <!-- Message -->
        <div class="control-group">
          <div class="form-group floating-label-form-group controls mb-0 pb-2">
            <textarea class="form-control" id="input_message" rows="5" placeholder="Message" required="required"
              data-validation-required-message="Please enter a message."></textarea>
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <br>
        <div id="success"></div>
        <div class="form-group">
          <button type="" class="btn btn-xl btn-primary" id="send_button">Send</button>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- Footer -->
<footer class="footer text-center">
  <div class="container">
    <div class="row">

      <!-- Footer Location -->
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Location</h4>
        <p class="lead mb-0">Reykjavik University
          <br>Menntavegur 1, 102 Reykjavik, Iceland</p>
      </div>

      <!-- Footer Social Icons -->
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Follow Us</h4>
        <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/events/595260667911210/">
          <i class="fab fa-fw fa-facebook-f"></i>
        </a>
        <a class="btn btn-outline-light btn-social mx-1" href="https://www.instagram.com/explore/tags/lingohack2020/">
          <i class="fab fa-fw fa-instagram"></i>
        </a>
      </div>

      <!-- Footer About Text -->
      <div class="col-lg-4">
        <h4 class="text-uppercase mb-4">Organised by</h4>
        <p class="lead mb-0">Student Hackathon Association at</p>
        <p class="lead mb-0">Reykjavik University</p>
      </div>

    </div>
  </div>
</footer>

<!-- Copyright Section -->
<section class="copyright py-4 text-center text-white">
  <div class="container">
    <!-- <p><a target="_blank" href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">
        MLH Code of Conduct</a></p> -->
    <small>Copyright &copy; Lingó Hack 2020</small>
  </div>
</section>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-to-top d-lg-none position-fixed ">
  <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>

<!-- Portfolio Modals -->

<!-- Portfolio Modal 1 -->
<!-- <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog"
  aria-labelledby="portfolioModal1Label" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">
          <i class="fas fa-times"></i>
        </span>
      </button>
      <div class="modal-body text-center">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8"> -->
<!-- Portfolio Modal - Title -->
<!-- <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Log Cabin</h2> -->
<!-- Icon Divider -->
<!-- <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                  <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
              </div> -->
<!-- Portfolio Modal - Image -->
<!-- <img class="img-fluid rounded mb-5" src="img/portfolio/cabin.png" alt=""> -->
<!-- Portfolio Modal - Text -->
<!-- <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam
                nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae?
                Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
              <button class="btn btn-primary" href="#" data-dismiss="modal">
                <i class="fas fa-times fa-fw"></i>
                Close Window
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
{% endblock %}

{% block scripts %}
<script src="//cdn.rawgit.com/hilios/jQuery.countdown/2.2.0/dist/jquery.countdown.min.js"></script>
<script src="{{ url_for('static', filename='js/mail.js')}}"></script>
<script src="{{ url_for('static', filename='js/countdown.js')}}"></script>

<script type="text/javascript">
  $(document).ready(function () {
    clock.countdown('resume');
    document.getElementById("send_button").addEventListener("click", sendEmail, false);
  });
</script>
{% endblock %}