{% extends "base.html" %}

{% block title %}
{{ super() }}
{% endblock %}

{% block content %}
<!-- app/templates/layouts/index.html -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div id="home_container">
                <h1>Lingó Hack 2020</h1>
                <h3>April 25-26<sup>th</sup> 2020</h3>
                <h3>Reykjavik University</h3>
                <hr>
                <div class="panel-body">
                    <div class="lead" id="clock"></div>
                </div>
                <a class="btn btn-primary" href="https://forms.gle/RxFfVRXqVaMFE7np6" role="button">Signup!</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="//cdn.rawgit.com/hilios/jQuery.countdown/2.2.0/dist/jquery.countdown.min.js"></script>
<script type="text/javascript">
    function changeTimezone(date, ianatz) {
        var invdate = new Date(date.toLocaleString('en-US', {
            timeZone: ianatz
        }));
        var diff = date.getTime() - invdate.getTime();
        return new Date(date.getTime() + diff);
    }

    function getTimeOfEvent() {
        var there = new Date("Apr 24 2020 08:00:00 GMT +0000");
        var here = changeTimezone(there, "Atlantic/Reykjavik");
        return here
    }

    var clock = $('#clock');

    clock.countdown(getTimeOfEvent(), function (event) {
        $(this).html(event.strftime('%D days %H:%M:%S'));
    });

    clock.countdown(getTimeOfEvent());

    $(document).ready(function () {
        clock.countdown('resume');
    });

</script>
{% endblock %}