{% extends "base.html" %}

{% block title %}
Sponsors & Partners - {{ super() }}
{% endblock %}

{% block content %}
<!-- app/templates/layouts/sponsors_partners.html -->
<div class="container">
    <div class="row align-items-center sponsors light_bckgr p-3">
        <div class="col-12 text-center mb-3">
            <h2>Interested in Sponso­ring?</h2>
            We’d love to have you on board. Contact us at <a target="_blank" href="mailto:lingohack@ru.is">
                lingohack@ru.is</a>
        </div>

        <div class="col-12 text-center">
            <h2>Thank you to our sponsors!</h2>
        </div>
        <div class="col-sm-6 col-lg-4 sponsor_modal"><a href="https://mlh.io/" target="_blank"><img alt="MLH Logo"
                    class="img-fluid"
                    src="https://user-images.githubusercontent.com/9976294/68975539-86362780-07c1-11ea-87a3-ad33f884ad87.png" /></a>
        </div>
        <div class="col-sm-6 col-lg-4 sponsor_modal"><a href="http://github.com/" target="_blank"><img alt="Github Logo"
                    class="img-fluid"
                    src="https://user-images.githubusercontent.com/9976294/68972751-80891380-07ba-11ea-9dff-4c4839e32157.png" /></a>
        </div>
        <div class="col-sm-6 col-lg-4 sponsor_modal"><a href="http://bloomberg.com/" target="_blank"><img
                    alt="Bloomberg Logo" class="img-fluid"
                    src="https://user-images.githubusercontent.com/9976294/68972821-a8787700-07ba-11ea-93d4-fe74a81c1611.png" /></a>
        </div>
        <div class="col-sm-6 col-lg-4 sponsor_modal"><a href="http://hackp.ac/mlh-stickermule-hackathons"
                target="_blank"><img alt="Sticker Mule Logo" class="img-fluid"
                    src="https://user-images.githubusercontent.com/9976294/68972922-eecdd600-07ba-11ea-9742-b465c068b2ed.png" /></a>
        </div>
    </div>
</div>




{% endblock %}

{% block scripts %}
{% endblock %}