@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html {
    position: relative;
    min-height: 100%;
    
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url("https://user-images.githubusercontent.com/9976294/68985129-459ad600-07e2-11ea-9923-e958a92ed203.png");
    background-repeat: no-repeat;
    background-size: cover; 
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Hide Footer until scroll down*/
    height: 0;
    background-color: #f5f5f5;
    border-top: solid 1px #ddd;
}

nav{
    border-bottom: solid 1px #ddd;
}

body > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}


.main_container {
    background-color: #f5f5f5;
    text-align:center;
    margin-top: 25%;
    padding: 10px;
    font-weight: 700;
    font-size: 5em;
    border:1px solid #ddd;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.main_container > h1{
    font-size: 1em;
    font-weight: bold;
}

#clock {
    font-size: 0.5em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}


.sponsor_modal{
    margin-bottom: 40px;
}

.light_bckgr{
    background-color: #f5f5f5;
    border:1px solid #ddd;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}