<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Language Technology Hackathon">
    <meta name="author" content="Reykjavik University">

    <!-- Facebook Metatags -->
    <meta property="og:url" content="https://www.lingohack.is" />
    <meta property="og:app_id" content="492272211379112" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Nýsköpunarkeppni í máltækni!" />
    <meta property="og:description" content="Látum tölvur skilja íslensku!" />
    <meta property="og:image" content="{{ url_for('static', filename='img/screenshot.png') }}" />

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='css/vendor/fontawesome-free/css/all.min.css') }} " rel="stylesheet"
        type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
        type="text/css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Material Design CSS -->
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <!-- sweetalert2 CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.css" rel="stylesheet">

    <!-- Material Design Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel='shortcut icon' type='image/x-icon' href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>{% block title %}Lingó Hack 2020{% endblock %}</title>
</head>

<body id="page-top">



    {% block content %}
    {% endblock %}

    <!-- SCRIPS -->
    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='js/vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ url_for('static', filename='js/vendor/jquery-easing/jquery.easing.min.js')}}"></script>

    <!-- sweetalert2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.all.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>

    {% block scripts %}
    {% endblock %}

    <!-- 2020 HACKATHON SEASON MEMBER EVENT BADGE  -->
    <!-- <a id="mlh-trust-badge" class="d-none d-xl-block"
        style="display:block;max-width:100px;min-width:60px;position:fixed;right:50px;top:0;width:10%;z-index:10000"
        href="https://mlh.io/seasons/eu-2020/events?utm_source=eu-hackathon&utm_medium=TrustBadge&utm_campaign=2020-season&utm_content=blue"
        target="_blank"><img src="https://s3.amazonaws.com/logged-assets/trust-badge/2020/mlh-trust-badge-2020-blue.svg"
            alt="Major League Hacking 2020 Hackathon Season" style="width:100%"></a> -->

</body>

</html>