<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="eng">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Language Technology Hackathon">
    <meta name="author" content="Reykjavik University">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel='shortcut icon' type='image/x-icon' href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>{% block title %}Lingó Hack 2020{% endblock %}</title>
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav text-left pl-3">
                <a class="nav-item nav-link" href="/">Home</a>
                <a class="nav-item nav-link" href="/challenges">Challenges</a>
                <a class="nav-item nav-link" href="/sponsors_partners">Sponsors & Partners</a>
                <a class="nav-item nav-link" href="/schedule">Event Schedule</a>
                <a class="nav-item nav-link" href="/faq">FAQ</a>
            </div>
        </div>
    </nav>


    <!-- CONTENT -->
    {% block content %}
    {% endblock %}

    <!-- FOOTER -->
    <footer class="footer bg-light">
        <div class="container">
            <div class="row align-items-center text-center">
                <div class="col-12">
                    Reykjavik University - Menntavegur 1, 102 Reykjavik
                    | Phone: <span itemprop="telephone"><a href="tel:+354-599-6200">
                            (+354) 599 6200</a></span>
                    | Email: <span itemprop="email"><a href="mailto:lingohack@ru.is">
                            lingohack@ru.is</a></span>
                </div>
                <div class="col-12 mt-1">
                    © 2020 Copyright LingoHack.is
                </div>
            </div>
        </div>
    </footer>

    <div name="contact">
        <div class="">
            <div class="container-fluid">
                <div class="row text-center">
                    <div class="col-12">
                        <a target="_blank" href="mailto:lingohack@ru.is">lingohack@ru.is</a>
                        <p>Follow us on Social Media!</p>
                        <a target="_blank" href="" class="Footer-c__logoTitle___2x6ck"><img
                                class="Footer-c__picture___23Q8u" src="/images/facebook_logo.png"
                                alt="">&nbsp;Facebook</a>
                        <a target="_blank" href="https://www.instagram.com/tech_embassy_official/"
                            class="Footer-c__logoTitle___2x6ck"><img class="Footer-c__picture___23Q8u"
                                src="/images/instagram_logo.png" alt="">&nbsp;Instagram</a><a target="_blank"
                            href="https://www.linkedin.com/company/techembassy" class="Footer-c__logoTitle___2x6ck"><img
                                class="Footer-c__picture___23Q8u" src="/images/linkedin_logo.png"
                                alt="">&nbsp;LinkedIn</a>
                        <p><a target="_blank" href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">
                                MLH Code of Conduct</a></p>
                        <p>Hosted by Hakkaranemdin við Háskólann í Reykjavík</p>
                        <p>Copyright © 2020 Lingó Hack, All rights reserved.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <hr class="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SCRIPS -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    {% block scripts %}
    {% endblock %}

    <!-- 2020 HACKATHON SEASON MEMBER EVENT BADGE  -->
    <a id="mlh-trust-badge"
        style="display:block;max-width:100px;min-width:60px;position:fixed;right:50px;top:0;width:10%;z-index:10000"
        href="https://mlh.io/seasons/eu-2020/events?utm_source=eu-hackathon&utm_medium=TrustBadge&utm_campaign=2020-season&utm_content=white"
        target="_blank"><img
            src="https://s3.amazonaws.com/logged-assets/trust-badge/2020/mlh-trust-badge-2020-white.svg"
            alt="Major League Hacking 2020 Hackathon Season" style="width:100%">
    </a>
</body>

</html>